.catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    max-width: 60vw;
    max-height: 60vh;
    overflow-y: scroll;
}

.cat-sections, .cat-link {
    display: flex;
    flex-direction: row;
}

.cat-link {
    padding: .5rem .75rem;
    background-color: aqua;
}

.cat-link:hover {
    background-color: blue;
}

.cat-title, .cat {
    display: flex;
    flex: 1;
    align-items: center;
}

.cat-title {
    font-family: 'Mali', cursive;
    font-size: xx-large;
}

.cat {
    font-size: x-large;
}

.cat-icon {
    max-height: 50px;
    margin-right: 1rem;
}