body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Neucha', cursive;
  background: url('https://i.imgur.com/Bj7WsEU.jpg') no-repeat fixed;
  background-size: cover;
}